# Dependencies
node_modules/
dist/
build/

# Environment variables (Sensitive data!)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env/